
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    background-color: #c81282;
    color: rgb(0, 0, 0);
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

nav {
    overflow: hidden;
    background-color: #c81282;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #b87ea2;
    color: black;
}

a:link#knitting-link {
    text-decoration: none;
    color: rgb(247, 0, 255);
}

a:hover#knitting-link {
    text-decoration: none;
    color: black;
}

#imageKnitting {
    display: block;
    margin: 0 auto;
}

#knitting-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
}

#knitting-table th, #knitting-table td {
    border: 1px solid #ff9fe1;
    padding: 12px;
    text-align: left;
}

#knitting-table th {
    background-color: #ff9fda;
    font-weight: bold;
}

#knitting-table tbody tr:nth-child(even) {
    background-color: #b79fff;
}

#knitting-table tbody tr:hover {
    background-color: #ff56b3;
}

#hidden-text {
    padding: 10px;
    margin-left: 20px;
    background-color: #30ff37;
    color: white;
    border: none;
    cursor: pointer;
}

#secret-message {
    display: none;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

p {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
}

section#apply-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1em;
}

.applyTable{
    width:100%;
}
.applyTable tr{
    height:40px;
}
.applyTable input {
    height:25px;
    border:1px solid #ccc;
    border-radius: 10px;
}
.applyTable select{
    width:170px;
    border:1px solid #ccc;
    border-radius: 10px;
}
.applyTable #validate{
        
        height:30px;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 60px;
        text-align: center;
        
        font-size: 12px;
        margin: 40px 2px;
        cursor: pointer;
        border-radius: 8px;
}

.wrapper{
    text-align: center;
}

.optional-label {
    font-style: italic;
    color: #666;
    font-size: 0.6em;
}

footer {
    background-color: #c81282;
    color: white;
    text-align: center;
    padding: 1em;
}